<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>中国农业大学机构知识库</title>
		<link rel="stylesheet" href="/css/cssreset-min.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/js/main.js" ></script>
        <script type="text/javascript" src="/vue/dist/vue.min.js" ></script>
        <script type="text/javascript" src="/urijs/src/URI.js" ></script>
        <script type="text/javascript" src="/js/v-render.js" ></script>
	</head>
	<body>
		<div class="head">
			<div class="head-logo">
				<a href="/" class="logo-font-zhong">中国农业大学机构知识库</a><br />
				<span class="logo-font-en">China Agricultural University Knowledge Base </span>
			</div>
			<div class="head-searchbox">
				<div class="head-searchbox-search">
					<input id="search-input" type="text" value="" placeholder="请输入检索关键词"/>
					<input id="search-btn" class="search-icon" type="submit" value=""/>
				</div>
				<div class="head-searchbox-gaoji">
					<a href="/adsearch">高级检索</a>
				</div>
			</div>
		</div>
    {% include 'includes/nav.html' %}
		<div class="content cf" id="v-achievementById">
			<!-- 左边内容 start -->
			<div class="content-nav">
				<a href="javascript:history.back(-1);"><img src="img/content-nav.png" alt="content-nav" /></a>
				<span>{{ achievement.title }}</span>
			</div>
			<div class="detail-content">
				<table class="detail-table-two">
					<tr>
						<td class="detail-t-f">成果名称</td>
						<td>{{ achievement.title }}</td>
					</tr>
					<tr>
						<td class="detail-t-f">成果完成人</td>
						<td>{{ achievement.authors }}</td>
					</tr>
					<!--<tr>
						<td class="detail-t-f">本校完成人</td>
						<td>{{ achievement.schoolAuthors }}</td>
					</tr>-->
					<tr>
						<td class="detail-t-f">成果完成单位</td>
						<td>中国农业大学</td>
					</tr>
					<tr>
						<td class="detail-t-f">奖励编号</td>
						<td>{{ achievement.rewardNumber }}</td>
					</tr>
					<tr>
						<td class="detail-t-f">奖励名称</td>
						<td>{{ achievement.rewardName }}</td>
					</tr>
					<tr>
						<td class="detail-t-f">成果完成登记年</td>
						<td>{{ achievement.year }}</td>
					</tr>
					<!--<tr>
						<td class="detail-t-f">授奖单位</td>
						<td>{{ achievement.rewardFrom }}</td>
					</tr>
					<tr>
						<td class="detail-t-f">链接</td>
						<td>{{ achievement.url }}</td>
					</tr>-->
					<tr>
						<td class="detail-t-f">所属学院</td>
						<td>{{ achievement.units }}</td>
					</tr>
					<tr>
						<td class="detail-t-f">学科专业</td>
						<td>{{ achievement.subjects }}</td>
					</tr>
                    <tr>
						<td class="detail-t-f">成果简介</td>
						<td>{{ achievement.intro }}</td>
					</tr>
				</table>
			</div>
				
			<!-- 右边内容  end -->
		</div>
		<div class="foot">
			<div class="foot-content cf">
				<img class="foot-logo" src="/img/small_logo.png">
				<div class="foot-name">
					<p class="foot-zh-name">中国农业大学机构知识库</p>
					<p class="foot-en-name"><img src="/img/small_letter.png"></p>
				</div>
			</div>
		</div>
	</body>
</html>
